Carthage
SAAOSX/SAA_Lemmatised.sqlite3
SAAOSX/old_SAA_Lemmatised.sqlite3
SAAOSX/SAAO_CompleteGlossary.sqlite3
SAAOSX.xcodeproj/xcuserdata/Chaitanya.xcuserdatad/**
.idea/
.swiftlint.yml
GoogleService-Info.plist